body {
	font-family: arial;
	font-size: 75%px;
}

.header-layout {
	 background-color:maroon; 
	 color:white;
}

.content-canvas {
	-webkit-border-radius:5px;
	-moz-border-radius:5px; 
	background:white; 
	border:1px solid lightgrey;

	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
	
	padding:10px;
}

#middle-width {
	width: 980px;	
}

a { cursor: hand; }

a:link {
	color:maroon;
	text-decoration: none;
}

a:visited {
	color: maroon;
	text-decoration: none;
}

a:hover {
	text-decoration: none; 
	color: green;
}

a:active {
	color: green;
	text-decoration: none
}


.list-column , .list-column-first, .list-column-last {
	background-color: #EEE8AA; 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	font-size: 12px;
	font-family:arial;
	font-weight: bolder;
	color: maroon;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;	
}

.list-column-first {
	border-left: 1px solid gray;
	
}

.list-row-even, .list-row-odd {
	
}

.list-row-column, .list-row-column-first, .list-row-column-last {
	padding: 2px;
	padding-left:5px;
	font-size: 12px;
	font-family:arial;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

.list-row-column-first {
	border-left: 1px solid gray;
}
	






